{:paths ["src" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.10.2"}
        clj-commons/clj-yaml {:mvn/version "0.7.106"}
        org.clojure/tools.cli             {:mvn/version "1.0.194"}}
 :aliases
 {:run-m {:main-opts ["-m" "clj-ingress.core"]}
  :run-x {:ns-default clj-ingress.core
          :exec-fn greet
          :exec-args {:name "Clojure"}}
  :test {:extra-paths ["test"]
         :extra-deps {org.clojure/test.check {:mvn/version "1.1.0"}}}
  :runner
  {:extra-deps {com.cognitect/test-runner
                {:git/url "https://github.com/cognitect-labs/test-runner"
                 :sha "b6b3193fcc42659d7e46ecd1884a228993441182"}}
   :main-opts ["-m" "cognitect.test-runner"
               "-d" "test"]}
  :uberjar {:replace-deps {seancorfield/depstar {:mvn/version "2.0.171"}}
            :exec-fn hf.depstar/uberjar
            :exec-args {:aot true
                        :jar "clj-ingress.core.jar"
                        :main-class "clj-ingress.core"
                        :sync-pom true}}}}
